[submodule "loose/postinstallScript"]
	path = loose/postinstallScript
	url = https://github.com/perXautomatik/Windows10-Postinstall.git
[submodule "Helpers/RegImporter"]
	path = Helpers/RegImporter
	url = https://github.com/perXautomatik/Reg-importer.git
[submodule "Disassembler/PowershellRoutines"]
	path = Disassembler/PowershellRoutines
	url = https://github.com/perXautomatik/Win10-Initial-Setup-Script.git
